<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Boban/Desktop/WeHunt Appium/src/main/java"><classes><class name="wehuntBddTests.LoginTest"><methods><include name="logInTest"/></methods></class></classes></test></suite>